<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title> Plaintalk :: Signup</title>
    <link rel="icon" type="image/png" href="/img/favicon.png" />

    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MZR6B4P');
    </script>
    <!-- End Google Tag Manager -->

    <!--Core CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/core.css">
    <link rel="stylesheet" href="/css/blue.css">

</head>

<body class="is-theme-core">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MZR6B4P" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="pageloader"></div>
    <div class="infraloader is-active"></div>
    <div class="auth-nav-alt">
        <div class="start is-hidden-mobile">
            <a href="/">Plaintalk</a>
        </div>
        <div class="end">
            <span class="muted-text pr-10">Have an account?</span>
            <a href="/login" class="button is-rounded btn-align">Sign In</a>
        </div>
    </div>

    <div class="auth-outer-alt">
        <div class="columns">
            <div class="column">
                <div class="form-wrapper">
                    <div class="form-title">
                        <h3>Create an account</h3>
                        <h4>
                            <% if(typeof error !== 'undefined' && error.length) { %>
                                <strong style="color:red;">  <%= error %></strong>
                                   <% } else {%> Don't worry, it's super fast.<% } %></h4>
                    </div>
                    <form  action="/register" method="post">
                    <div class="form-inner">
                        <div class="field">
                            <div class="control has-icons-left">
                                <input name="email" type="email" class="input is-rounded is-primary-focus" placeholder="Email address" required />
                                <div class="icon is-nedium is-left">
                                    <i class="sl sl-icon-envelope-open"></i>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control has-icons-left">
                                <input name="username" type="text" class="input is-rounded is-primary-focus" placeholder="Username" required />
                                <div class="icon is-nedium is-left">
                                    <i class="sl sl-icon-user"></i>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control has-icons-left">
                                <input name="password" type="password" class="input is-rounded is-primary-focus" placeholder="Password" required />
                                <div class="icon is-nedium is-left">
                                    <i class="sl sl-icon-lock"></i>
                                </div>
                            </div>
                        </div>


                        <div class="field">
                            <div class="control has-icons-left">
                                <button type="submit" class="button is-fullwidth is-rounded primary-btn raised">
                                    Sign Up
                                </button>
                            </div>
                        </div>
                    </form>

                        <div class="form-divider">
                            <div class="divider-circle">
                                <i class="material-icons">keyboard_arrow_down</i>
                            </div>
                        </div>

                        <div class="social-login">
                            <h4>Or sign up with:</h4>
                            <div class="login-buttons">
                                <div class="button-wrap">
                                    <a href="/auth/google" class="button-inner">
                                        <i class="fa fa-google"></i>
                                    </a>
                                </div>
                                <div  class="button-wrap">
                                    <a href="/auth/microsoft" class="button-inner">
                                        <i class="fa fa-windows"></i>
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <script src="/js/app.js"></script>
    <script src="/js/core.js"></script>
</body>

</html>