<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title> Plaintalk :: Home</title>
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    

    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MZR6B4P');
    </script>
    <!-- End Google Tag Manager -->

    <!--Core CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/app.css">
    <link id="theme-sheet" rel="stylesheet" href="/css/core.css">
    <link rel="stylesheet" href="/css/media.css">
    <link rel="stylesheet" href="/css/blue.css">
</head>

<body class="is-theme-core">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MZR6B4P" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="pageloader"></div>
    <div class="infraloader is-active"></div>
    <div class="hero product-hero is-app-grey is-relative">
        <nav class="navbar navbar-wrapper navbar-default navbar-fade is-transparent">
            <div class="container">
                <!-- Brand -->
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <img class="switcher-logo" src="/img/logos/logo/plaintalk.png" alt="">
                    </a>

                    <!-- Sidebar Trigger -->


                    <!-- Responsive toggle -->
                    <div class="custom-burger" data-target="">
                        <a id="" class="responsive-btn" href="javascript:void(0);">
                            <span class="menu-toggle">
                              <span class="icon-box-toggle">
                                  <span class="rotate">
                                      <i class="icon-line-top"></i>
                                      <i class="icon-line-center"></i>
                                      <i class="icon-line-bottom"></i>
                                  </span>
                            </span>
                            </span>
                        </a>
                    </div>
                    <!-- /Responsive toggle -->
                </div>

                <!-- Navbar menu -->
                <div class="navbar-menu">
                    <!-- Navbar Start -->
                    <div class="navbar-start">
                        <!-- Navbar item -->
                        <a class="navbar-item is-slide" href="#">
                            Home
                        </a>
                        <!-- Navbar item -->
                        <a class="navbar-item is-slide" href="#bots">
                            Bots
                        </a>
                        <!-- Navbar item -->
                        <a class="navbar-item is-slide" href="#services">
                            Services
                        </a>
                        <!-- Navbar item -->
                        <a class="navbar-item is-slide" href="/login">
                            Login
                        </a>
                    </div>

                    <!-- Navbar end -->
                    <div class="navbar-end">
                        <!-- Signup button -->
                        <div class="navbar-item is-button">
                            <a id="#signup-btn" href="/register" class="button button-cta is-bold is-rounded btn-align primary-btn raised">
                                Register
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Hero image -->
        <div id="main-hero" class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-vcentered">
                    <div class="column is-5 signup-column has-text-left">
                        <!--Update Pill-->

                        <h1 class="title main-title text-bold is-2">Make communication easy for everyone</h1>
                        <h2 class="subtitle is-5 no-margin-bottom body-color">
                            PlainTalk Simplifies Complex Sentences for Everyone. Accessible, User-friendly, and Effective Writing.
                            Say Goodbye to Technical Jargon, Legal Terms, and Academic Language.
                        </h2>
                        <br />
                        <!-- Signup form -->
                        <div class="signup-block is-rounded">
                            
                                <div class="control">
                                    <a href="/register">
                                    <button type="submit" class="button btn-align primary-btn raised">
                                        Sign up
                                    </button>
                                </a>
                                </div>
                            
                        </div>
                    </div>
                    <div class="column is-7">
                        <!-- Hero mockup -->
                        <figure class="image">
                            <img id="removeImg" src="/img/graphics/compositions/cute-2-night.svg" data-base-url="/img/graphics/compositions/cute-2-night" data-extension=".svg" alt="" />
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Features section -->
    <div class="section is-app-grey is-medium" id="bots">
        <div class="container">
            <!-- Title -->
            <div class="section-title-wrapper has-text-centered">
                <div class="bg-number">1</div>
                <h2 class="section-title-landing">Simple and Clarify</h2>
                <h4>Great tools that will make your life easier</h4>
            </div>

            <div class="content-wrapper">
                <div class="columns is-vcentered pb-40 pt-40">
                    <div class="column is-4 is-offset-1">
                        <!-- Title -->
                        <div class="icon-subtitle"><i class="im im-icon-Calendar-4"></i></div>
                        <div class="title quick-feature has-numbers text-bold">
                            <div>Simple</div>
                            <div class="bg-number">+</div>
                        </div>
                        <div class="title-divider is-small"></div>
                        <span class="body-text"
                >Simple- the bot that explains text to you like you're five years old</span>
                        <div class="pt-10 pb-10">
                            <a href="/register" class="button btn-align btn-more is-link color-primary">
                                Try It For Free<i class="sl sl-icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="column is-6 is-offset-1">
                        <img src="/img/graphics/compositions/Chat bot-pana.svg" data-base-url="/img/graphics/compositions/drawing-bw-2" data-extension=".svg" alt="" />
                    </div>
                </div>

                <div class="columns is-vcentered pb-40 pt-40">
                    <!-- This column will display only on mobile -->
                    <div class="column is-4 is-offset-1 is-hidden-tablet is-hidden-desktop">
                        <!-- Title -->
                        <div class="icon-subtitle"><i class="im im-icon-Video-2"></i></div>
                        <div class="title quick-feature has-numbers text-bold">
                            <h2>Clarify</h2>
                            <div class="bg-number">+</div>
                        </div>
                        <div class="title-divider is-small"></div>
                        <span class="body-text"
                >Clarify - the bot that Clarifies complex texts into easy-to-understand language!</span>
                        <div class="pt-10 pb-10">
                            <a href="/register" class="button btn-align btn-more is-link color-primary">
                                Try It For Free<i class="sl sl-icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- /so the original floww is kept -->
                    <div class="column is-6">
                        <img src="/img/graphics/compositions/Chat bot-cuate.svg" data-base-url="/img/graphics/compositions/drawing-bw-5" data-extension=".svg" alt="" />
                    </div>
                    <!-- This column will display only on desktop and tablet landscape resolutions -->
                    <div class="column is-4 is-offset-1 is-hidden-mobile">
                        <!-- Title -->
                        <div class="icon-subtitle"><i class="im im-icon-Video-2"></i></div>
                        <div class="title quick-feature has-numbers text-bold">
                            <h2>Clarify</h2>
                            <div class="bg-number">+</div>
                        </div>
                        <div class="title-divider is-small"></div>
                        <span class="body-text"
                >Clarify - the bot that simplifies complex texts into easy-to-understand language!</span>
                        <div class="pt-10 pb-10">
                            <a href="/register" class="button btn-align btn-more is-link color-primary">
                                Try It For Free <i class="sl sl-icon-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- /so the original flow is kept -->
                </div>


                <div class="has-text-centered is-title-reveal pt-20 pb-20">
                    <a href="/register" class="button button-cta primary-btn rounded raised">Sign Up For Free</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Services -->
    <div class="section is-medium" id="services">
        <div class="container">
            <!-- Title -->
            <div class="section-title-wrapper has-text-centered">
                <div class="bg-number">2</div>
                <h2 class="section-title-landing">Simplify your text, the easy way!</h2>
                <h4>Don't waste your time anymore</h4>
            </div>

            <div class="content-wrapper hover-cards">
                <!-- Hover boxes -->
                <div class="columns is-vcentered">
                    <div class="column is-10 is-offset-1">
                        <div class="columns is-vcentered">
                            <div class="column is-6">
                                <!-- Hover box -->
                                <div class="flex-card icon-card-hover first-card light-bordered">
                                    <h3 class="card-title is-clean">Save Time</h3>
                                    <p class="card-description">
                                        Save time simplifying complex sentences with PlainTalk.
                                    </p>
                                </div>
                                <!-- Hover box -->
                                <div class="flex-card icon-card-hover second-card light-bordered">
                                    <h3 class="card-title is-clean">Latest Technology</h3>
                                    <p class="card-description">
                                        Experience lightning-fast responses and unparalleled accuracy with PlainTalk powered by GPT-3.
                                    </p>
                                </div>
                            </div>
                            <div class="column is-6">
                                <!-- Hover box -->
                                <div class="flex-card icon-card-hover third-card light-bordered">
                                    <h3 class="card-title is-clean">User-Friendly Interface</h3>
                                    <p class="card-description">
                                        Our user-friendly interface makes it easy to simplify complex sentences into plain language.
                                    </p>
                                </div>
                                <!-- Hover box -->
                                <div class="flex-card icon-card-hover fourth-card light-bordered">
                                    <h3 class="card-title is-clean">10X Productivity</h3>
                                    <p class="card-description">
                                        Boost productivity with PlainTalk – simplify complex sentences in a fraction of the time.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button-wrap has-text-centered is-title-reveal">
                    <a href="/register" class="
                button button-cta
                is-rounded
                btn-align
                raised
                primary-btn
                raised
              ">
                        Sign Up For Free
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Parallax Icon counter -->



    <!-- Process section -->
    <div class="section is-app-grey is-medium">
        <div class="container">
            <!-- Wrapper -->
            <div class="process-wrap">
                <!-- Process step -->
                <div class="process-block has-text-centered">
                    <div class="process-icon">
                        <img src="/img/graphics/icons/study-core.svg" data-base-url="/img/graphics/icons/study" data-extension=".svg" alt="" />
                    </div>
                    <div class="text-block">
                        <h4 class="title is-5 no-margin">Sign Up</h4>
                        <p>
                            Sign up with your email, google or microsoft account
                        </p>
                    </div>
                </div>
                <!-- Process step -->
                <div class="process-block has-text-centered">
                    <div class="process-icon">
                        <img src="/img/graphics/icons/learn-core.svg" data-base-url="/img/graphics/icons/learn" data-extension=".svg" alt="" />
                    </div>
                    <div class="text-block">
                        <h4 class="title is-5 no-margin">Paste Your Text</h4>
                        <p>
                            Write or paste your text to one of our bots
                        </p>
                    </div>
                </div>
                <!-- Process step -->
                <div class="process-block has-text-centered">
                    <div class="process-icon">
                        <img src="/img/graphics/icons/aquire-core.svg" data-base-url="/img/graphics/icons/aquire" data-extension=".svg" alt="" />
                    </div>
                    <div class="text-block">
                        <h4 class="title is-5 no-margin">Amazing results</h4>
                        <p>
                            Our bots will process your text and get you awesome results
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="main-hero" class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="
              column
              is-6 is-offset-3 is-header-caption
              has-text-centered
              pt-60
            ">
                    <h1 class="title main-title">Check out our Plans.</h1>
                    <h2 class="subtitle is-5 light-text">Pick the right plan for you.</h2>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="section section-light-grey is-skewed-sm clean-pricing">
        <div class="container has-text-centered is-reverse-skewed-sm">
            <!-- Pricing tables -->
            <div class="columns is-vcentered giant-pb">
                <div class="column is-5 has-text-left">
                    <!-- Period selector -->
                    <div class="period-select">
                        <span class="clean-text is-active">Monthly</span>
                        <span class="clean-text">Annualy</span>
                    </div>
                    <h2 class="title theme clean-text pb-10 pt-10 is-2 no-margin">
                        Choose a plan.
                    </h2>
                    <!-- Plan type switcher -->

                    <div class="subtitle is-6 mt-20">
                        Plaintalk has the answer to your needs
                    </div>
                    <br />
                </div>
                <div class="column is-8">
                    <!-- Freelance pricing -->
                    <div id="freelance-pricing" class="side-pricing">
                        <div class="columns is-vcentered">
                            <div class="column">
                                <!-- Pricing table features -->
                                <div class="pricing-card animated preFadeInLeft fadeInLeft">
                                    <div class="popular"><i class="im im-icon-Crown-2"></i></div>
                                    <div class="inner">
                                        <h6 class="plan-name">Basic</h6>
                                        <div class="plan-price">
                                            <small class="currency">$</small>
                                            <div class="month-price animated preFadeInUp fadeInUp">
                                                <span>0</span>
                                                <small>/ month</small>
                                            </div>
                                            <div class="year-price animated preFadeInUp fadeInUp is-hidden">
                                                <span>0</span>
                                                <small>/ year</small>
                                            </div>
                                        </div>
                                        <ul>
                                            <li><b>3</b> Requests per month</li>
                                            <li><b>GPT-3</b> Full Power</li>
                                        </ul>
                                        <a href="/register" class="button button-cta primary-btn raised">Sign up</a>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <!-- Pricing table transparent -->
                                <div class="
                    pricing-card
                    transparent
                    animated
                    preFadeInLeft
                    fadeInLeft
                    delay-1
                  ">
                                    <div class="inner">
                                        <h6 class="plan-name">Pro</h6>
                                        <div class="plan-price">
                                            <small class="currency">$</small>
                                            <div class="month-price animated preFadeInUp fadeInUp">
                                                <span>10</span>
                                                <small>/ month</small>
                                            </div>
                                            <div class="year-price animated preFadeInUp fadeInUp is-hidden">
                                                <span>120</span>
                                                <small>/ year</small>
                                            </div>
                                        </div>
                                        <ul>
                                            <li><b>250</b> Requests per month</li>
                                            <li><b>GPT-3</b> Full Power</li>
                                        </ul>
                                        <a href="/register" class="button button-cta primary-btn btn-outlined is-bold">Sign up</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <!--Contact Page 1-->
            <div class="contact-page-1">
                <div class="columns">
                    <div class="column is-5">
                        <div class="contact-page-form flex-card">
                            <h3>Contact Us</h3>
                            <p>Use the form below to send us a message.</p>

                            <div class="columns is-multiline">
                                <div class="column is-12">
                                    <div class="field">
                                        <label>Full Name</label>
                                        <div class="control has-icons-left">
                                            <input type="text" class="input is-medium" placeholder="Your name" />
                                            <span class="icon is-left is-small">
                                <i class="sl sl-icon-user"></i>
                              </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-12">
                                    <div class="field">
                                        <label>Email Address</label>
                                        <div class="control has-icons-left">
                                            <input type="text" class="input is-medium" placeholder="Your email" />
                                            <span class="icon is-left is-small">
                                <i class="sl sl-icon-envelope-open"></i>
                              </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-12">
                                    <div class="field">
                                        <label>Message</label>
                                        <div class="control">
                                            <textarea class="textarea" rows="4" placeholder="Write your message"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-12">
                                    <div class="field">
                                        <div class="control">
                                            <a href="mailto:hello@plaintalk.ai">
                                            <button type="button" class="
                                  button button-cta
                                  primary-btn
                                  no-lh
                                  is-bold
                                  raised
                                  is-fullwidth
                                ">
                                                Send Message
                                            </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="columns has-text-centered pt-80 pb-80">
                    <div class="column is-hidden-mobile"></div>
                    <!-- Icon box -->
                    <!-- Icon box -->
                    <div class="column is-3">
                        <div class="shadow-icon-box rounded">
                            <span><i class="fa fa-envelope fa-lg"></i></span>
                        </div>
                        <div class="shadow-title dark-text">Email</div>
                        <div class="description shadow-description">hello@plaintalk.ai</div>
                    </div>
                    <!-- Icon box -->

                    <div class="column is-hidden-mobile"></div>
                </div>
            </div>
        </div>
    </div>




    <footer class="footer-light-medium">
        <div class="container">
            <div class="footer-head">
                <div class="head-text">
                    <h3>Ready to get started?</h3>
                    <p>Create your free account now</p>
                </div>
                <div class="head-action">
                    <div class="buttons">
                        <a href="/register" class="button primary-btn raised action-button is-bold">Try it free</a>
                        <a href="/login" class="button chat-button">Log In</a>
                    </div>
                </div>
            </div>
            <div class="columns footer-body">
                <!-- Column -->
                <div class="column is-4">
                    <div class="pt-10 pb-10">
                        <img class="small-footer-logo" src="/img/logos/logo/plaintalk.png" alt="">
                        <div class="footer-description">
                            PlainTalk is built for those who want to simplify their texts in an easy and quick manner
                        </div>
                    </div>
                   
                </div>
                <!-- Column -->
                <div class="column is-6 is-offset-2">
                    <div class="columns">
                        <!-- Column -->

                        <!-- Column -->
                        <!-- Column -->
                        <div class="column">
                            <ul class="footer-column">
                                <li class="column-header">
                                    Terms
                                </li>
                                <li class="column-item"><a href="/privacy">Terms of Service</a></li>
                                <li class="column-item"><a href="/privacy">Privacy policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright has-text-centered">
                <p>&copy; 2023 | <a href="/">Plaintalk</a> | All Rights Reserved.</p>
            </div>
        </div>
    </footer>
    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/core.js"></script>
</body>

</html>