<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title> Plaintalk :: Home</title>
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MZR6B4P');
    </script>
    <!-- End Google Tag Manager -->

    <!--Core CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/app.css">
    <link id="theme-sheet" rel="stylesheet" href="/css/core.css">
    <link rel="stylesheet" href="/css/media.css">
    <link rel="stylesheet" href="/css/blue.css">
</head>

<body class="is-theme-core">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MZR6B4P" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="pageloader"></div>
    <div class="infraloader is-active"></div>
    <div class="hero product-hero is-app-grey is-relative" style="background-color: #fff;">
        <nav class="navbar navbar-wrapper navbar-default navbar-fade is-transparent">
            <div class="container">
                <!-- Brand -->
                <div class="navbar-brand">
                    <a class="navbar-item" style="padding-top: 0px;" href="/">
                        <img class="switcher-logo" src="/img/logos/logo/plaintalk.png" alt="">
                    </a>

                    <!-- Sidebar Trigger -->


                    <!-- Responsive toggle -->
                    <div class="custom-burger" data-target="">
                        <a id="" class="responsive-btn" href="javascript:void(0);">
                            <span class="menu-toggle">
                                <span class="icon-box-toggle">
                                    <span class="rotate">
                                        <i class="icon-line-top"></i>
                                        <i class="icon-line-center"></i>
                                        <i class="icon-line-bottom"></i>
                                    </span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <!-- /Responsive toggle -->
                </div>

                <!-- Navbar menu -->
                <div class="navbar-menu">
                    <!-- Navbar Start -->
                    <div class="navbar-start">
                        <!-- Navbar item -->
                        <a class="navbar-item is-slide" href="#">
                            Home
                        </a>
                        <!-- Navbar item -->
                        <a class="navbar-item is-slide" href="#services">
                            Services
                        </a>
                    
                        <% if (email != "none") { %>
                            <a class="navbar-item is-slide" href="/account">
                                Account
                            </a>
                        <% } %>

                        <% if (email == "none") { %>
                            <a class="navbar-item is-slide" href="/login">
                                Login
                            </a>
                        <% } else { %>
                            <a class="navbar-item is-slide" href="/logout">
                                Logout 
                            </a>
                        <% } %>
                        
                    </div>

                    <!-- Navbar end -->
                    <div class="navbar-end">
                        <!-- Signup button -->
                        <div class="navbar-item is-button">
                            <a style="padding: 0.5rem 1rem !important;" id="#signup-btn" href="/register"
                                class="button button-cta is-bold is-rounded btn-align primary-btn raised">
                                Register
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Hero image -->
        <div id="main-hero" class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-vcentered">
                    <div class="column is-1"></div>
                    <div class="column is-10 signup-column has-text-left"
                        style="text-align: center !important; margin: 60px 0px;">
                        <h1 class="title main-title is-2" style="font-size: 5rem;">Make Communication <span
                                style="position: relative; color: #0f7cff;">
                                <svg style="height: 0.58em; width: 100%; top: 66.666667%; left: 0; fill: rgb(15, 124, 255,.7);  position: absolute;"
                                    viewBox="0 0 418 42"
                                    class="absolute top-2/3 left-0 h-[0.58em] w-full fill-purple-300/70">
                                    <path
                                        d="M203.371.916c-26.013-2.078-76.686 1.963-124.73 9.946L67.3 12.749C35.421 18.062 18.2 21.766 6.004 25.934 1.244 27.561.828 27.778.874 28.61c.07 1.214.828 1.121 9.595-1.176 9.072-2.377 17.15-3.92 39.246-7.496C123.565 7.986 157.869 4.492 195.942 5.046c7.461.108 19.25 1.696 19.17 2.582-.107 1.183-7.874 4.31-25.75 10.366-21.992 7.45-35.43 12.534-36.701 13.884-2.173 2.308-.202 4.407 4.442 4.734 2.654.187 3.263.157 15.593-.78 35.401-2.686 57.944-3.488 88.365-3.143 46.327.526 75.721 2.23 130.788 7.584 19.787 1.924 20.814 1.98 24.557 1.332l.066-.011c1.201-.203 1.53-1.825.399-2.335-2.911-1.31-4.893-1.604-22.048-3.261-57.509-5.556-87.871-7.36-132.059-7.842-23.239-.254-33.617-.116-50.627.674-11.629.54-42.371 2.494-46.696 2.967-2.359.259 8.133-3.625 26.504-9.81 23.239-7.825 27.934-10.149 28.304-14.005.417-4.348-3.529-6-16.878-7.066Z">
                                    </path>
                                </svg><span>Easy</span></span> for Everyone</h1>
                        <h2 class="subtitle is-5 no-margin-bottom body-color"
                            style="color: #334155 !important; font-size: 1.5rem; padding-top: 15px;">
                            Simplify complex sentences with PlainTalk's AI-powered platform
                        </h2>
                        <br />
                        <!-- Signup form -->
                        <div class="signup-block is-rounded">
                            <div class="control">
                                <% if (email == "none") { %> <a href="/register"> <% } else { %>  <a href="/account"> <% } %>
                                    <button type="submit" class="button btn-align primary-btn raised"
                                        style="font-size: 18px; padding: 25px;">
                                        Get start for free
                                    </button>
                                </a>
                            </div>

                        </div>
                    </div>
                    <!-- <div class="column is-6">
                        <figure class="image">
                            <img id="removeImg" src="/img/graphics/compositions/cute-2-night.svg"
                                data-base-url="/img/graphics/compositions/cute-2-night" data-extension=".svg" alt="" />
                        </figure>
                    </div> -->
                </div>
                <div class="video-part mt-5">
                    <div style="margin-bottom: -1px;"
                        class="w-full px-5 h-11 bg-gradient-to-r from-purple-500 to-violet-800 flex items-center">
                        <ul class="flex items-center">
                            <li class="w-3 h-3 rounded-full bg-red-400 mr-2"></li>
                            <li class="w-3 h-3 rounded-full bg-yellow-400 mr-2"></li>
                            <li class="w-3 h-3 rounded-full bg-green-400"></li>
                        </ul>
                    </div>
                    <video width="100%" height="500px" autoplay="" muted="" loop="">
                        <source src="https://monkeywriter.me/video/showcase.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>

    <div class="section is-app-grey is-medium blue-background bg-white" id="bots">
        <div class="container">
            <h3 class="xl-title" style="color: #0f172a; text-align: center;">Benefits</h3>
            <div class="columns is-vcentered pb-40 pt-40">
                <div class="column is-4">
                    <div class="card-box">
                        <div class="benifits_des"> Simplify complex terms to improve comprehension. </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card-box">
                        <div class="benifits_des"> Turn complex ideas into clear messages. </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card-box">
                        <div class="benifits_des"> Improved your understanding through clear and effective
                            communication.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section is-medium feature_gradient" id="services">
        <div class="container">
            <div class="section-title-wrapper has-text-centered">
                <h2 class="section-title-landing" style="font-size: 3rem; line-height: 1;">Feature</h2>
                <h4 style="font-size: 1.125rem; line-height: 1.75rem; margin-top: 1.5rem; font-weight: 400;">PlainTalk
                    analyzes your text
                    and converts complex sentences into plain language that everyone
                    can
                    understand. You can upload your text by copy-pasting it and select the "Standard" or
                    "Elementary"
                    option, depending on the understandability format. Our algorithm then generates a revised
                    version of
                    your text that is easier to read and understand.</h4>
            </div>

            <div class="feature_warpper">
                <div class="wrapper" style="margin-top: 50px;">
                    <div class="buttonWrapper columns">
                        <button class="tab-button active column is-3-desktop is-6-mobile" data-id="home">Save
                            Time</button>
                        <button class="tab-button column is-3-desktop is-6-mobile" data-id="about">User-Friendly
                            Interface</button>
                        <!-- <button class="tab-button column is-3-desktop is-6-mobile" data-id="contact">Latest
                            Technology</button> -->
                        <button class="tab-button column is-3-desktop is-6-mobile" data-id="contact1">10X
                            Productivity</button>
                    </div>
                    <div class="contentWrapper">
                        <p class="content active" id="home">
                            Save time simplifying complex sentences with PlainTalk.
                        </p>
                        <p class="content" id="about">
                            Our user-friendly interface makes it easy to simplify complex sentences into plain language.
                        </p>
                        <!-- <p class="content" id="contact">
                            Experience lightning-fast responses and unparalleled accuracy with PlainTalk powered by
                            GPT-3.
                        </p> -->
                        <p class="content" id="contact1">
                            Boost productivity with PlainTalk – simplify complex sentences in a fraction of the time.
                        </p>
                    </div>
                </div>
            </div>
            <div class="video-part1">
                <div style="margin-bottom: -1px;"
                    class="w-full px-5 h-11 bg-gradient-to-r1 from-purple-500 to-violet-800 flex items-center">
                    <ul class="flex items-center">
                        <li class="w-3 h-3 rounded-full bg-red-400 mr-2"></li>
                        <li class="w-3 h-3 rounded-full bg-yellow-400 mr-2"></li>
                        <li class="w-3 h-3 rounded-full bg-green-400"></li>
                    </ul>
                </div>
                <video width="100%" height="500px" autoplay="" muted="" loop="">
                    <source src="https://monkeywriter.me/video/showcase.mp4" type="video/mp4">
                </video>
            </div>

            <style>
                .buttonWrapper {
                    grid-template-columns: 1fr 1fr 1fr;
                }

                .feature_warpper button {
                    margin: auto;
                    border-radius: 60px;
                    letter-spacing: 0px;
                    border: none;
                    padding: 10px;
                    background-color: transparent;
                    color: #fff;
                    font-size: 15px;
                    cursor: pointer;
                    transition: 0.5s;
                }

                .feature_warpper button:hover {
                    background-color: #ffffff3f;
                }

                .feature_warpper button.active {
                    background-color: white !important;
                    color: #0f7cff !important;
                }

                .feature_warpper p {
                    text-align: left;
                    padding: 10px;
                }

                .feature_warpper .content {
                    display: none;
                    font-weight: 300px;
                    font-size: 17px;
                    padding: 10px 0px;
                    margin: 50px 0px !important;
                    margin-top: 30px !important;
                    text-align: center;
                }

                .feature_warpper .content.active {
                    display: block;
                }
            </style>

            <script>
                const tabs = document.querySelector(".wrapper");
                const tabButton = document.querySelectorAll(".tab-button");
                const contents = document.querySelectorAll(".content");

                tabs.onclick = e => {
                    const id = e.target.dataset.id;
                    if (id) {
                        tabButton.forEach(btn => {
                            btn.classList.remove("active");
                        });
                        e.target.classList.add("active");

                        contents.forEach(content => {
                            content.classList.remove("active");
                        });
                        const element = document.getElementById(id);
                        element.classList.add("active");
                    }
                }
            </script>
        </div>
    </div>

    <!-- Process section -->
    <div class="section is-app-grey is-medium bg-image1">
        <div class="container">
            <!-- Wrapper -->
            <div class="process-wrap">
                <!-- Process step -->
                <div class="process-block has-text-centered">
                    <div class="process-icon">
                        <img src="/img/graphics/icons/study-core.svg" data-base-url="/img/graphics/icons/study"
                            data-extension=".svg" alt="" />
                    </div>
                    <div class="text-block">
                        <h4 class="title is-5 no-margin">Sign Up</h4>
                        <p>
                            Sign up with your email, google or microsoft account
                        </p>
                    </div>
                </div>
                <!-- Process step -->
                <div class="process-block has-text-centered">
                    <div class="process-icon">
                        <img src="/img/graphics/icons/learn-core.svg" data-base-url="/img/graphics/icons/learn"
                            data-extension=".svg" alt="" />
                    </div>
                    <div class="text-block">
                        <h4 class="title is-5 no-margin">Paste Your Text</h4>
                        <p>
                            Write or paste your text to our text editor
                        </p>
                    </div>
                </div>
                <!-- Process step -->
                <div class="process-block has-text-centered">
                    <div class="process-icon">
                        <img src="/img/graphics/icons/aquire-core.svg" data-base-url="/img/graphics/icons/aquire"
                            data-extension=".svg" alt="" />
                    </div>
                    <div class="text-block">
                        <h4 class="title is-5 no-margin">Amazing results</h4>
                        <p>
                            Our algorithm will process your text and get you awesome results
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="main-hero" class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="
              column
              is-6 is-offset-3 is-header-caption
              has-text-centered
              pt-60
            ">
                    <h1 class="title main-title">Check out our Plans</h1>
                    <h2 class="subtitle is-5 light-text">Pick the right plan for you.</h2>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="section section-light-grey is-skewed-sm clean-pricing" style="z-index: 100; background: #0f172a;">
        <div class="container is-reverse-skewed-sm">
            <!-- Pricing tables -->
            <h1 class="title main-title has-text-centered"
                style="color: #fff; font-weight: normal; font-size: 50px; padding-bottom: 45px; position:relative;">
                <svg style="z-index: -10; height: 0.58em; width: 100%; top: 35.666667%; left: 0; fill: rgb(15, 124, 255,.7);  position: absolute;"
                    class="absolute top-1/2 left-0 h-[1em] w-full fill-purple-400" viewBox="0 0 281 40">
                    <path
                        d="M240.172 22.994c-8.007 1.246-15.477 2.23-31.26 4.114-18.506 2.21-26.323 2.977-34.487 3.386-2.971.149-3.727.324-6.566 1.523-15.124 6.388-43.775 9.404-69.425 7.31-26.207-2.14-50.986-7.103-78-15.624C10.912 20.7.988 16.143.734 14.657c-.066-.381.043-.344 1.324.456 10.423 6.506 49.649 16.322 77.8 19.468 23.708 2.65 38.249 2.95 55.821 1.156 9.407-.962 24.451-3.773 25.101-4.692.074-.104.053-.155-.058-.135-1.062.195-13.863-.271-18.848-.687-16.681-1.389-28.722-4.345-38.142-9.364-15.294-8.15-7.298-19.232 14.802-20.514 16.095-.934 32.793 1.517 47.423 6.96 13.524 5.033 17.942 12.326 11.463 18.922l-.859.874.697-.006c2.681-.026 15.304-1.302 29.208-2.953 25.845-3.07 35.659-4.519 54.027-7.978 9.863-1.858 11.021-2.048 13.055-2.145a61.901 61.901 0 0 0 4.506-.417c1.891-.259 2.151-.267 1.543-.047-.402.145-2.33.913-4.285 1.707-4.635 1.882-5.202 2.07-8.736 2.903-3.414.805-19.773 3.797-26.404 4.829Zm40.321-9.93c.1-.066.231-.085.29-.041.059.043-.024.096-.183.119-.177.024-.219-.007-.107-.079ZM172.299 26.22c9.364-6.058 5.161-12.039-12.304-17.51-11.656-3.653-23.145-5.47-35.243-5.576-22.552-.198-33.577 7.462-21.321 14.814 12.012 7.205 32.994 10.557 61.531 9.831 4.563-.116 5.372-.288 7.337-1.559Z"
                        fill-rule="evenodd" clip-rule="evenodd"></path>
                </svg>
                How it work</h1>

            <div class="has-text-left">
                <!-- Period selector -->
                <div class="period-select" style="margin: auto;">
                    <span class="clean-text is-active">Monthly</span>
                    <span class="clean-text">Annually</span>
                </div>
                <!-- <h2 class="title theme clean-text pb-10 pt-10 is-2 no-margin" style="color: #fff;">
                    Choose from our three plans
                </h2> -->
            </div>
            <div class="columns is-vcentered giant-pb">
                <div class="column is-12">
                    <!-- Freelance pricing -->
                    <div id="freelance-pricing" class="side-pricing">
                        <div class="columns is-vcentered">
                            <div class="column is-6-desktop is-12-mobile">
                                <!-- Pricing table features -->
                                <div class="pricing-card animated preFadeInLeft fadeInLeft"
                                    style="border-color: #0f7cff;">
                                    <div class="popular"><i class="im im-icon-Crown-2"></i></div>
                                    <div class="inner">
                                        <h6 class="plan-name">Basic</h6>
                                        <div class="plan-price">
                                            <div class="month-price animated preFadeInUp fadeInUp">
                                                <span>$ 0</span>
                                                <small>/ month</small>
                                            </div>
                                            <div class="year-price animated preFadeInUp fadeInUp is-hidden">
                                                <span>$ 0</span>
                                                <small>/ year</small>
                                            </div>
                                        </div>
                                        <ul>
                                            <li style="display: flex;">
                                                <svg class="h-6 w-6 flex-none fill-current stroke-current text-white"
                                                    style="
                                                width: 26px;
                                                height: 26px;
                                                border: 1px solid;
                                                border-radius: 100%;
                                                fill: #fff;
                                                margin-right: 10px;
                                            ">
                                                    <path stroke-width="0"
                                                        d="M9.307 12.248a.75.75 0 1 0-1.114 1.004l1.114-1.004ZM11 15.25l-.557.502a.75.75 0 0 0 1.15-.043L11 15.25Zm4.844-5.041a.75.75 0 0 0-1.188-.918l1.188.918Zm-7.651 3.043 2.25 2.5 1.114-1.004-2.25-2.5-1.114 1.004Zm3.4 2.457 4.25-5.5-1.187-.918-4.25 5.5 1.188.918Z">
                                                    </path>
                                                    <circle r="8.25" cx="12" cy="12" fill="none" stroke-width="1.5"
                                                        stroke-linecap="round" stroke-linejoin="round"></circle>
                                                </svg>
                                                <div style="padding-top: 4px;">Write up to 2,500 word</div>
                                            </li>
                                            <li style="display: flex;">
                                                <svg class="h-6 w-6 flex-none fill-current stroke-current text-white"
                                                    style="
                                                width: 26px;
                                                height: 26px;
                                                border: 1px solid;
                                                border-radius: 100%;
                                                fill: #fff;
                                                margin-right: 10px;
                                            ">
                                                    <path stroke-width="0"
                                                        d="M9.307 12.248a.75.75 0 1 0-1.114 1.004l1.114-1.004ZM11 15.25l-.557.502a.75.75 0 0 0 1.15-.043L11 15.25Zm4.844-5.041a.75.75 0 0 0-1.188-.918l1.188.918Zm-7.651 3.043 2.25 2.5 1.114-1.004-2.25-2.5-1.114 1.004Zm3.4 2.457 4.25-5.5-1.187-.918-4.25 5.5 1.188.918Z">
                                                    </path>
                                                    <circle r="8.25" cx="12" cy="12" fill="none" stroke-width="1.5"
                                                        stroke-linecap="round" stroke-linejoin="round"></circle>
                                                </svg>
                                                <div style="padding-top: 4px;">No Credit card</div>
                                            </li>
                                            <li style="display: flex;">
                                                <svg class="h-6 w-6 flex-none fill-current stroke-current text-white"
                                                    style="
                                                    width: 26px;
                                                    height: 26px;
                                                    border: 1px solid;
                                                    border-radius: 100%;
                                                    fill: #fff;
                                                    margin-right: 10px;
                                                ">
                                                    <path stroke-width="0"
                                                        d="M9.307 12.248a.75.75 0 1 0-1.114 1.004l1.114-1.004ZM11 15.25l-.557.502a.75.75 0 0 0 1.15-.043L11 15.25Zm4.844-5.041a.75.75 0 0 0-1.188-.918l1.188.918Zm-7.651 3.043 2.25 2.5 1.114-1.004-2.25-2.5-1.114 1.004Zm3.4 2.457 4.25-5.5-1.187-.918-4.25 5.5 1.188.918Z">
                                                    </path>
                                                    <circle r="8.25" cx="12" cy="12" fill="none" stroke-width="1.5"
                                                        stroke-linecap="round" stroke-linejoin="round"></circle>
                                                </svg>
                                                <div style="padding-top: 4px;">All Features included</div>
                                            </li>
                                        </ul>
                                        <a href="/register" style="width: 100%; background: #fff; color: #000;"
                                            class="button button-cta primary-btn raised">Sign up</a>
                                    </div>
                                </div>
                            </div>
                            <div class="column is-6-desktop is-12-mobile">
                                <div class="pricing-card transparent animated preFadeInLeft fadeInLeft delay-1 ">
                                    <div class="inner">
                                        <h6 class="plan-name">Pro</h6>
                                        <div class="plan-price">
                                            <div class="month-price animated preFadeInUp fadeInUp">
                                                <span>$ 10</span>
                                                <small>/ month</small>
                                            </div>
                                            <div class="year-price animated preFadeInUp fadeInUp is-hidden">
                                                <span>$ 120</span>
                                                <small>/ year</small>
                                            </div>
                                        </div>
                                        <ul>
                                            <li style="display: flex;"><svg
                                                    class="h-6 w-6 flex-none fill-current stroke-current text-white"
                                                    style="
                                            width: 26px;
                                            height: 26px;
                                            border: 1px solid;
                                            border-radius: 100%;
                                            fill: #fff;
                                            margin-right: 10px;
                                        ">
                                                    <path stroke-width="0"
                                                        d="M9.307 12.248a.75.75 0 1 0-1.114 1.004l1.114-1.004ZM11 15.25l-.557.502a.75.75 0 0 0 1.15-.043L11 15.25Zm4.844-5.041a.75.75 0 0 0-1.188-.918l1.188.918Zm-7.651 3.043 2.25 2.5 1.114-1.004-2.25-2.5-1.114 1.004Zm3.4 2.457 4.25-5.5-1.187-.918-4.25 5.5 1.188.918Z">
                                                    </path>
                                                    <circle r="8.25" cx="12" cy="12" fill="none" stroke-width="1.5"
                                                        stroke-linecap="round" stroke-linejoin="round"></circle>
                                                </svg>
                                                <div style="padding-top: 4px;">Write up to 10,500 word</div>
                                            </li>
                                            <li style="display: flex;">
                                                <svg class="h-6 w-6 flex-none fill-current stroke-current text-white"
                                                    style="
                                                width: 26px;
                                                height: 26px;
                                                border: 1px solid;
                                                border-radius: 100%;
                                                fill: #fff;
                                                margin-right: 10px;
                                            ">
                                                    <path stroke-width="0"
                                                        d="M9.307 12.248a.75.75 0 1 0-1.114 1.004l1.114-1.004ZM11 15.25l-.557.502a.75.75 0 0 0 1.15-.043L11 15.25Zm4.844-5.041a.75.75 0 0 0-1.188-.918l1.188.918Zm-7.651 3.043 2.25 2.5 1.114-1.004-2.25-2.5-1.114 1.004Zm3.4 2.457 4.25-5.5-1.187-.918-4.25 5.5 1.188.918Z">
                                                    </path>
                                                    <circle r="8.25" cx="12" cy="12" fill="none" stroke-width="1.5"
                                                        stroke-linecap="round" stroke-linejoin="round"></circle>
                                                </svg>
                                                <div style="padding-top: 4px;">All Features included</div>
                                            </li>
                                            <li style="display: flex;">
                                                <svg class="h-6 w-6 flex-none fill-current stroke-current text-white"
                                                    style="
                                                    width: 26px;
                                                    height: 26px;
                                                    border: 1px solid;
                                                    border-radius: 100%;
                                                    fill: #fff;
                                                    margin-right: 10px;
                                                ">
                                                    <path stroke-width="0"
                                                        d="M9.307 12.248a.75.75 0 1 0-1.114 1.004l1.114-1.004ZM11 15.25l-.557.502a.75.75 0 0 0 1.15-.043L11 15.25Zm4.844-5.041a.75.75 0 0 0-1.188-.918l1.188.918Zm-7.651 3.043 2.25 2.5 1.114-1.004-2.25-2.5-1.114 1.004Zm3.4 2.457 4.25-5.5-1.187-.918-4.25 5.5 1.188.918Z">
                                                    </path>
                                                    <circle r="8.25" cx="12" cy="12" fill="none" stroke-width="1.5"
                                                        stroke-linecap="round" stroke-linejoin="round"></circle>
                                                </svg>
                                                <div style="padding-top: 4px;">Everything from starter</div>
                                            </li>
                                        </ul>
                                        <a href="/register" style="width: 100%; border-color: #9f9f9f; color: #fff;"
                                            class="button button-cta primary-btn btn-outlined is-bold bbb">Sign up</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p style="text-align: center; color: #fff; font-size: 18px;">If you happen to go over your
                            words, don't worry - we'll only charge you approximately $.25 per 300 words,
                            and this charge will be clearly visible on your following billing statement.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-7">
                    <div>
                        <h3 style="font-size: 35px; padding-bottom: 20px;">About Us</h3>
                        <p style="font-size: 22px;">Our mission is to make writing accessible to everyone, by removing
                            the barriers of technical language, jargon, and complexity. Our platform is designed to make
                            writing more user-friendly, effective, and inclusive.</p>
                    </div>
                </div>
                <div class="column is-5">
                    <div style="text-align: center;">
                        <img style="border-radius: 20px; width: 80%;" src="/fotor-ai-20230522141326.jpg"
                            data-base-url="/img/graphics/compositions/drawing-bw-2" data-extension=".svg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="section contactus">
        <div class="container">
            <!--Contact Page 1-->
            <div class="contact-page-1">
                <h3 class="text-4xl has-text-centered" style="color: #fff; margin-bottom: 30px;">Contact Us</h3>
                <!-- <p class="mt-4 has-text-centered">Get in touch with us using the contact form below or email us at
                    support@plaintalk.ai</p> -->
                <div class="columns">
                    <div class="column is-5">
                        <div class="contact-page-form flex-card">
                            <div class="columns is-multiline">
                                <div class="column is-12">
                                    <div class="field">
                                        <label>Full Name</label>
                                        <div class="control has-icons-left">
                                            <input type="text" class="input is-medium" placeholder="Your name" />
                                            <span class="icon is-left is-small">
                                                <i class="sl sl-icon-user"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-12">
                                    <div class="field">
                                        <label>Email Address</label>
                                        <div class="control has-icons-left">
                                            <input type="text" class="input is-medium" placeholder="Your email" />
                                            <span class="icon is-left is-small">
                                                <i class="sl sl-icon-envelope-open"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-12">
                                    <div class="field">
                                        <label>Message</label>
                                        <div class="control">
                                            <textarea class="textarea" rows="4"
                                                placeholder="Write your message"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-12">
                                    <div class="field">
                                        <div class="control">
                                            <a href="mailto:hello@plaintalk.ai">
                                                <button type="button" class="
                                  button button-cta
                                  primary-btn
                                  no-lh
                                  is-bold
                                  raised
                                  is-fullwidth
                                ">
                                                    Send Message
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fqa_bg">
        <div class="section">
            <div class="container">
                <div>
                    <h3 style="color: #0f172a;" class="text-4xl">Frequently Asked Questions</h3>
                    <p style="color: #354357; font-size: 1.2rem !important;" class="mt-4">If you can't find the answer
                        you're looking for, email us, and if you're
                        lucky, someone will get back to you.</p>
                </div>
                <div class="columns mt-16">
                    <div class="column is-4">
                        <div class="pb-30">
                            <h3 style="font-size: 1.2rem;" class="leading-7 title-color">Can I try PlainTalk for free?
                            </h3>
                            <p style="font-size: 1rem;" class="desctiption-color mt-4">Yes, you can simplify up to 2,500
                                words for free with all features included.</p>
                        </div>
                        <div class="pb-30">
                            <h3 style="font-size: 1.2rem;" class="leading-7 title-color">Do you offer refunds?</h3>
                            <p style="font-size: 1rem;" class="desctiption-color mt-4">Absolutely. If you're not
                                satisfied
                                with your subscription, you can ask for a refund within 7 days of purchase if 100% of
                                tokens
                                are unused.</p>
                        </div>
                        <div class="pb-30">
                            <h3 style="font-size: 1.2rem;" class="leading-7 title-color">Why should I use PlainTalk?
                            </h3>
                            <p style="font-size: 1rem;" class="desctiption-color mt-4">Our mission is to make
                                communication
                                more accessible and help people understand complex content. PlainTalk simplifies text
                                for
                                various audiences, from professionals to beginners.</p>
                        </div>
                    </div>
                    <div class="column is-4">
                        <div class="pb-30">
                            <h3 style="font-size: 1.2rem;" class="leading-7 title-color">How does the pricing work?</h3>
                            <p style="font-size: 1rem;" class="desctiption-color mt-4">We offer usage-based pricing to
                                accommodate all your writing needs. Each plan has a monthly token limit that goes with
                                it.
                                Tokens translate into simplified words.</p>
                        </div>
                        <div class="pb-30">
                            <h3 style="font-size: 1.2rem;" class="leading-7 title-color">What happens with my usage if I
                                upgrade my current plan?</h3>
                            <p style="font-size: 1rem;" class="desctiption-color mt-4">If you upgrade your current plan
                                to
                                one with a bigger monthly limit, we'll reset your tokens immediately after purchase. The
                                same applies to purchasing a paid plan as a free user.</p>
                        </div>
                        <div class="pb-30">
                            <h3 style="font-size: 1.2rem;" class="leading-7 title-color">How do I use PlainTalk?</h3>
                            <p style="font-size: 1rem;" class="desctiption-color mt-4">Upload your text, choose your
                                preferred explanation mode (Standard or Elementary), and let our AI-powered platform
                                simplify your content.</p>
                        </div>
                    </div>
                    <div class="column is-4">
                        <div class="pb-30">
                            <h3 style="font-size: 1.2rem;" class="leading-7 title-color">What if I'm not happy with the
                                generated results?</h3>
                            <p style="font-size: 1rem;" class="desctiption-color mt-4">If you're not satisfied with the
                                simplified results, you can manually edit the text or provide feedback to help us
                                improve
                                our AI in the future.</p>
                        </div>
                        <div class="pb-30">
                            <h3 style="font-size: 1.2rem;" class="leading-7 title-color">Is PlainTalk really that good?
                            </h3>
                            <p style="font-size: 1rem;" class="desctiption-color mt-4">Don't take our word for it. Try
                                it
                                out yourself!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer-light-medium">
            <div class="container">
                <div class="footer-head">
                    <div class="head-text">
                        <h3>Ready to get started?</h3>
                        <p>Create your free account now</p>
                    </div>
                    <div class="head-action">
                        <div class="buttons">
                            <a <% if (email == "none") { %> href="/register" <% } else { %>  href="/account" <% } %> class="button primary-btn raised action-button is-bold">Try it free</a>
                            <a href="/login" class="button chat-button">Log In</a>
                        </div>
                    </div>
                </div>
                <div class="columns footer-body">
                    <!-- Column -->
                    <div class="column is-4">
                        <div class="pt-10 pb-10">
                            <img class="small-footer-logo" src="/img/logos/logo/plaintalk.png" alt="">
                            <div class="footer-description">
                                PlainTalk is built for those who want to simplify their texts in an easy and quick
                                manner
                            </div>
                        </div>

                    </div>
                    <!-- Column -->
                    <div class="column is-6 is-offset-2">
                        <div class="columns">
                            <!-- Column -->

                            <!-- Column -->
                            <!-- Column -->
                            <div class="column">
                                <ul class="footer-column">
                                    <li class="column-header">
                                        Terms
                                    </li>
                                    <li class="column-item"><a href="/privacy">Terms of Service</a></li>
                                    <li class="column-item"><a href="/privacy">Privacy policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright has-text-centered">
                    <p>&copy; 2023 | <a href="/">Plaintalk</a> | All Rights Reserved.</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    <link rel="stylesheet" href="/css/font.css">
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/core.js"></script>
    <script src="/js/min.js"></script>
</body>

</html>